<!DOCTYPE html>
<html>
  <head>
    <title>BuscaCep</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-50 flex flex-col h-screen">
    <nav class="bg-rose-950 py-3">
        <%= link_to 'Busca por CEP', root_path, class: 'pl-6 font-bold text-lg  text-white' %>
        <%= link_to 'Mais buscados', most_searched_cep_stats_path %>
    </nav>
    <main class="container mx-auto px-5 flex grow flex-col">
      <% if notice %>
      <div class="w-3/4 text-center py-4 border border-rose-950/50 rounded-lg bg-[#faf0f3] mt-3 mx-auto">
        <%= notice %>
      </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>