<h2><%= @cep_stat.cep %></h2>
<p><%= @cep_stat.address %></p>

<p>Bairro: <%= @cep_stat.district%></p>
<p>Cidade: <%= @cep_stat.city %></p>
<p>Estado: <%= @cep_stat.state %></p>
<p>DDD: <%= @cep_stat.ddd %></p>
<p>Coord.: <%= "(#{@cep_stat.latitude}, #{@cep_stat.longitude})"%></p>